<!DOCTYPE html>
<html lang="fi">
<link rel="stylesheet" href="tyylit.css">

<head>
    <meta charset="utf-8">
    <title><%= paaotsikko %></title>
</head>

<body>
    <main>
        <h2><%= otsikko %></h2>
        <p><%= viesti %></p>
    </main>
    <a href="/"><button>Valikkoon</button></a>

</body>

</html>